@font-face {
  font-family: "Lato-Regular";
  src: url(./fonts/Lato-Regular.ttf); 
  }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(./fonts/Montserrat-Regular.otf); 
  }


  :root {
    --primaryColor: #5fb7ea;
    
    --primaryRGBA: rgba(0,0,0,.35);
    --mainGrey: #fafafa;
    --darkGrey: #5f5e5e;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainTransition: all 0.3s ease-in-out;
    --mainSpacing: 0.3rem;
  }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  padding-top: 6px;
  color: var(--mainBlack);
  background: var(--mainWhite) !important;
  font-family: Lato-Regular !important;
  line-height: 1.4;
}

.text-title {
  font-family: Montserrat-Regular !important;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}


.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}

.main-link:hover,.main-link:active,.main-link:focus {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}